
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.bodyPrincipal {
    max-width: 100%;
    max-height: 100%;
    background-color: black;
    background-image: linear-gradient(119deg, #0a100d7b 30%, #a22b295d 74%);
    font-family: 'Alegreya Sans';
    color: white;
    text-decoration:none;
}

.fondoImagen {
    position: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    max-height: 100%;
    opacity: 5%;    
    z-index: -10;
}

.headerPrincipal {
    position:sticky;
    top:0px;
    z-index: 20;
}

.artPlace {
    font-family: 'Hi Melody';
    font-size: 40px;
    letter-spacing: 4px;
}

.navBar {
    background-color: rgba(10, 16, 13,0.75);
    width: 100%;
    min-height: 75px;
    border-radius: 0px 0px 30px 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: 'logo botones botones .' ;  
    transition: all 1s;
}

.navBar:hover {
    background: rgba(37, 34, 34, 0.75);
}

.logo {
    grid-area: logo;
    margin-left: 20px;
    align-self: flex-end;
    width: max-content;
    display: flex;
}

.navBotones {
    grid-area: botones;
    display: flex;
    justify-content: center;
    align-items: center;    
    column-gap:80px;
}

.icono {
    width: 45px;
    height: 45px;
}

.botones {
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	border-radius:6px;
	border:1px solid #eeb44f;
    cursor:pointer;
	color:#ffffff;
    font-family:'Alegreya Sans';
    font-size:22px;
    letter-spacing: 2px;
	font-weight:bold;
	padding:6px 24px;
	text-shadow:0px 1px 0px #cc9f52;
    text-decoration:none;
}

.botones:hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
}
.botones:active {
	position:relative;
	top:1px;
}

li{
    list-style: none;
}

.logo a {
    text-decoration: none;
    color: white;
    font-family: 'Hi Melody';
    font-style: normal; 
    font-size: 28px;
}

    .mainPage1{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    margin-top: 20px;
    align-items: center;
    width: 100%;
}

    .textoPage1 {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    text-align: left;
    width: 55%;
    z-index:10;
}

    .tituloIndex {
    font-weight: bold;
    font-size: 52px;
    line-height: 75px;
    letter-spacing: 7px;
    -webkit-text-stroke: 4px #FFFFFF;
    margin-left: 20px;
    }
    
    .parrafoIndex {
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 3px;
    margin-left: 20px;
    }    

    .botonInfo {
        width: 50px;
        height: 50px;
        box-shadow: 3px 4px 0px 0px #899599;
        background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
        border-radius:100%;
        border:1px solid #d6bcd6;
        cursor:pointer;
        color: black;
        font-size:36px;
        padding:0px 7px;
        text-decoration:none;
        text-shadow:0px 1px 0px #e1e2ed;
    }

    .contenedor {
        width: 100%;
        height: 100%;
        display: none;
        visibility: hidden;
        opacity: 0%;
    }

    .contenedor:target {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top:70px;
        background: rgba(0, 0, 0,0.8);
        visibility: visible;
        opacity: 1;
        z-index: 15;
    }

    .contenedor:target .contenedorPopUp {
        visibility: visible;
    }

    .contenedorPopUp {
        max-width: 100%;
        width: 70%;
        border-radius: 25%;
        position: absolute;
        visibility: hidden;
        transition: all 300ms;
    }

    .textPop {
    width: 100%;
    padding: 50px;
    overflow:scroll;
    background-color: #e1e2ed;
    max-width: 100%;
    height: max-content;
    text-align: center;
    }

    .h3Pop{
        color: black ;
        font-weight: bold;
        font-size: 28px;
        line-height: 35px;
        letter-spacing: 4px;
        -webkit-text-stroke: 1px #000000;
    }

    .pPop {
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 3px;
        color: #000000;
        -webkit-text-stroke: 1px #000000;
        margin-top: 15px;
    }

    .botonClose {
        width: 50px;
        height: 50px;
        box-shadow: 3px 4px 0px 0px #899599;
        background:linear-gradient(to bottom, #3a3a3a 5%, #000000 100%);
        background-color:#ededed;
        border-radius:400px;
        border:1px solid #d6bcd6;
        position: absolute;
        right: -20px;
        top: -20px;   
        cursor:pointer;
        color: white;
        font-size:36px;
        padding:0px 15px;
        text-decoration:none;
        text-shadow:0px 1px 0px #e1e2ed;
    }

    .botonInfo:hover, .botonClose:hover {
        background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
        background-color:#bab1ba;
        color: #000;
    }

    .botonInfo:active {
        position:relative;
        top:1px;
    }
    
    .box-content {
        width: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box {
        border-radius: 20px;  
        max-width: 450px;
        height: 70%;
        display: flex;
        justify-content: center;
        background: rgb(0, 0, 0,0.4);
        box-shadow: 0 0 10px #dc4c11;
        flex-direction: column;
        transition: all 1s;
}

    .box:hover {
        background: rgba(37, 34, 34, 0.5);
        box-shadow: 0 0 10px #dc4c11;
        position:relative;
        bottom:7px;
}

    .parrafoBox {
    height: 100%;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
}

    .botonBox {
    height: max-content;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

    .mainPage1 .parrafoBox p {
        font-size: 24px;
        text-align: center;
        margin: 15px;
    }

    .img {
    grid-row:3;
    max-height: max-content;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.img img {
    width: 100%;
    opacity: 40%;
    filter: blur(1px);
}

/* INGRESAR */

.mainIngresar {
    display: flex;
    justify-content: center;
    margin-top: 95px;  
    margin-bottom: 130px;  
}

.formulario {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        margin-left: 20px;
        border-radius: 20px;  
        padding: 20px;
        max-width: 420px;
        max-height: 410px;
        background: rgb(0, 0, 0,0.4);
        box-shadow: 0 0 10px #dc4c11;
        transition: all 1s;
}

    .botonForm {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

    .formulario:hover {
    background: rgba(37, 34, 34, 0.5);
    box-shadow: 0 0 10px #dc4c11;
    position:relative;
    bottom:10px;
}

    .itemForm2 {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        flex-wrap: wrap;

}

    input[type="email"] {
    background: #FFFFFF;
    border: 5px solid #f4a098;
    border-radius: 5px;
    height: 40px;
    width: 300px;
    text-indent: 3px;
}

    .spanFormCorreo {
    padding: 5px 5px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.1em;
    }

    input[type="password"] {
        padding: 5px 5px;
        background: #FFFFFF;
        border: 5px solid #f4a098;
        border-radius: 5px;
        height: 40px;
        width: 300px;
        text-indent: 3px;
    }

    .spanFormPass {
        padding: 5px 5px;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0.1em;
    }
    
    .checkbox {
    display: flex;
    flex-direction: row-reverse;
    width: 300px;
    justify-content: left;
    column-gap: 5px;
}

    input[type=checkbox] {
        background: #FFFFFF;
        border: 5px solid #f4a098;
        border-radius: 5px;
        margin-top: 3px;

    }

    .recordarme {
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 0.1em;
        position: relative;
        top: 2px;
        
    }

    /* FOOTER */

    footer {
    min-height: 100px;
    background-color: rgba(0, 0, 0,0.8);   
    align-items: center;

    }

    .foot {
        width: 100%;
        min-height: 100px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
        border: #000 solid;
    }

    .autor {
        color: whitesmoke;
        width: max-content;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 2px;
        font-family:'Alegreya Sans';
    }

    .enlaces {
        color: whitesmoke;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        column-gap: 70px;
        row-gap: 20px;
        flex-wrap: wrap;
    }

    .enlaces a {
        font-family:'Alegreya Sans';
        color: whitesmoke;
        letter-spacing:2px;
        font-size: 16px;
        font-weight: 400;
        text-decoration:underline;
    }

    /* PAGINA CONTINUAR : */

    .buscador {
        height: max-content;
    }

    .search{
        width: max-content;
        display: flex;
        margin: 20px;
    }

    input.buscador {
        padding: 9px 10px 9px 32px;
        outline: none;
        font-size: 18px;
        border-radius: 25px;
        border: 4px double #a22b29;
        color:#444;
        background: url(../img/search-icon.png) no-repeat 9px center;
        width: 420px;
        transition: all 1s;
    }
    
    input.buscador:focus {
        width: 480px;
    }

    .OpenMen {
        font-size: 32px;
        cursor: pointer;
        margin-right: 10px;
        color: rgb(255, 255, 255);
    }

    #btnMenu {
        display:none;
    }

    .containerCategorias{
		max-width: 100%;
		background: rgba(0, 0, 0,0.4);
        border-bottom: rgba(162, 43, 41,0.5) solid 7px;
		height:100%;
        max-height: max-content;
		transition: all 500ms ease;
        display: none;
    }

	#btnMenu:checked ~ .containerCategorias{
        display: flex;
	}

	.containerCategorias nav{
		transform: translateY(15%);
	}

    .containerCategorias ul {
        display:grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
        column-gap: 100px;
        row-gap: 20px;
        justify-content: center;
        align-content: center;
        margin: 20px;
    }

    .containerCategorias nav a{
        width:max-content;
		text-decoration: none;
		padding: 10px 100px;
        margin: 5px;
		color: white;
        font-size: 20px;
		transition: all 400ms ease;
	}
	.containerCategorias nav a:hover{
		background: rgba(162, 43, 41,0.5);
        color: white;
        margin-bottom: 15px;
	}
	.containerCategorias label{
        position: relative;
        bottom: 110px;
        left: 23px;
        cursor: pointer;
		color: #fff;
		cursor: pointer;
		font-size: 18px;
	}

    .perfiles {
        max-width: 1440px;
        max-height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        column-gap: 50px;
        row-gap: 60px;
        margin: 50px;
        justify-items: center;    }

    /* cards general */

    .card {
    background: url(../img/FotoJet.png);
    background-position: center;
    border-radius: 35px;
    border: white double 4px;
    box-shadow: 0 0 10px #dc4c11;
    display: flex;
    align-items:center;
    align-content: space-evenly;
    flex-direction: column;
    column-gap: 10px;
    width: 80%;
    padding: 10px;
    }

    .card:hover .user .foto-user {
        box-shadow: 0 0 10px #dc4c11;
    }

    .user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    min-height: max-content;
    }

    .contImg {
        max-width: 70%;
        height: max-content;
        padding: 5px;
        margin-top: -25px;
    }

    .user .foto-user {
    border-radius: 100px;
    width: 100%;
    height: 100%;
    border: 4px double #FAEAFF;
    margin-top: -25px;

    }

    .icono-position {
        font-size: 28px;
        color: white;
        cursor: pointer;
        padding: 1px;
    }

    .fa-heart{
        color: white;
        cursor: pointer;
        font-size: 28px;
    }
    
    .fa-heart:focus{
        color: red;
    }

    .txt-card {
        width: 100%;
        min-height: 40%;
        display: flex;
        flex-direction: column;
    }

    .nombre{
    font-size: 28px; 
    letter-spacing: 3px;
    color: white;
    text-align: center;
    }

    .descripcion {
    font-size: 18px;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 5px;
    }

    .contacts {
        display: flex;
        justify-content: center;
        column-gap: 30px;
        width: 100%; 
        min-height: 8%;
        margin: 5px;
    }

    a .fa-brands{
        color: white;
        justify-content: center;
        font-size: 28px;
        transition: 500ms;
    }

    .fa-brands:hover, .fa-music:hover, .fa-book-open:hover, .fa-palette:hover, .fa-xmark:hover {
        color: #2F4858;
        transition: 500ms;
    }

    .botonesUser {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 10%;
    align-items: flex-end;
    margin: 10px;
    }

    .btnUser {
    display: flex;
    margin-bottom: 5px;
}

    .btnUser a {
    z-index: 5;
    box-shadow: 0 0 15px 1px #000;
    color: #FAEAFF;
    background-color: #2F4858;
    border-radius: 30px;
    padding: 7px 20px;
    text-decoration: none;
    transition: all 350ms;
    }

    .btnUser a:hover {
    font-weight: bold;
    color: #2F4858;
    background-color: #FAEAFF;
    }

    .botonVolver {
    font-size: 28px;
    color: rgba(255, 255, 255,0.8);
    display: inline-block;
    transition: 700ms color;
    }

    .botonVolver:hover {
    color: white;
    }

/* card musica */

.music{
    display: none;
}

#reproducir {
    width: min-content;
    visibility: hidden;
    display: none;
}

#reproducir:checked ~ .music {
display: flex;
width: 100%;
height: 100px;
position: fixed;
bottom: 0px;
left: 0px;
}

/* card libro */

.ifm{
    display: none;
}

.ifm-book{
    max-width: 70%;
    width: 60%;
    display: flex;
    justify-content: center;
    height: 85%;
    margin-top: 50px;
}

.ifm a {
    text-decoration: none;
}

#leer {
    width: min-content;
    visibility: hidden;
    display: none;
}

#leer:checked ~ .ifm {
    display: flex ;
    position:absolute;
    left: 0px;
    top: 80px;
    justify-content: center;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.4);
}

/* card pintura */

.ifm-pintura{
    max-width: 70%;
    width: 40%;
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 30px;
    }
    

#pintura {
    width: min-content;
    visibility: hidden;
    display: none;
}

#pintura:checked ~ .ifm {
    display: flex ;
    position:absolute;
    left: 0px;
    top: 75px;
    justify-content: center;
    z-index: 10;
    width: 100%;
    height: 700px;
    background-color: rgba(0, 0, 0,0.4);
}

/* RESPONSIVE */

@media (max-width: 1200px) {
    .txt-card {
        min-height: 47%;
    }
}

@media (max-width: 1050px) {
    
    .navBar {
        grid-template-areas: 'logo botones botones botones' ;  
    }

    .perfiles {
        grid-template-columns: 1fr 1fr;
    }

    .txt-card {
        min-height: 35%;
    }
}

@media (max-width: 850px) {

    .navBotones {    
        column-gap:40px;
    }

    .txt-card {
        min-height: 190px;
    }
}

@media (max-width: 720px) {
    .navBar {
        background-color: rgba(10, 16, 13,0.75);
        width: 100%;
        height: 115px;
        border-radius: 0px 0px 10px 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: '. logo .' 'botones botones botones' ;  
        transition: all 1s;
    }
    .logo {
        grid-area: logo;
        margin-top: 10px;
        width: max-content;
        display: flex;
        justify-content: center;
    }
    .perfiles {
        width: 100%;
        grid-template-columns: 100%;
        margin: 50px 10px 30px 10px;
        column-gap: 0px;
    }
    .card {
        border: white double 4px;
        column-gap: 0px;
        max-width: 350px;
        }

    .txt-card {
        min-height: 35%;
    }

    .contImg {
        max-width: 50%;
        margin-top: -20px;
    }

    .user .foto-user {
    border: 2px solid #FAEAFF;
    margin-top: -20px;
    }
}

@media (max-width: 450px) {
    .botones {
        box-shadow:inset 0px 1px 0px 0px #fce2c1;
        background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
        border-radius:6px;
        border:1px solid #eeb44f;
        cursor:pointer;
        color:#ffffff;
        font-family:'Alegreya Sans';
        font-size:16px;
        letter-spacing: 2px;
        font-weight:bold;
        padding:6px 9px;
        text-shadow:0px 1px 0px #cc9f52;
        text-decoration:none;
    }
}